.file-box{ position:relative;width:480px;margin-top:0px;}
.txt{ height:24px; border:1px solid #cdcdcd; width:180px;}
.btn{ height:24px;width: 200px;}
.file{ position:absolute; top:0px; right:80px; height:24px; filter:alpha(opacity:0);opacity: 0;width:260px }

#top_dialog{
    height:288px;
    width:718px;
    border:1px solid #626262;
    background-color:#ffffff;
    position:absolute;
    left:92px;
    right:197px;
    border-radius:2px;
    z-index: 10000010012;
}
#top_dialog_head{
    width:698px;
    height:37px;
    background-color:#626262;
    line-height:37px;
    padding-left:20px;
    overflow:hidden;
}
#top_dialog_titile{
    color:#ffffff;
    font-size:18px;
}
#top_dialog_table{
    height:200px;
    width:613px;
    margin-top: 20px;
    margin-left: 100px;
}
#top_dialog_table input{
    padding-left:20px;
    border:1px solid #e3e3e3;
    height:24px;
    width:250px;
    line-height: 24px;
    border-radius:5px;
}
.top_right{
    float:left;
}
.top_left{
    float:left;
}
.sort_text{
    width: 50px;
    background-color:#f7f7f7;
    color:#757575;
    font-weight:bold;
}
.sort_position{
    border:1px solid #e3e3e3;
}
.sort_id{
    border:1px solid #e3e3e3;
}
.sort_tr{
    background-color:#f7f7f7;
    color:#757575;
    font-weight:bold;
    border:1px solid #e3e3e3;
    height:34px;
}
.position_tb{
    width: 70px;
    height: 34px;
}
#sort_submit{
    float: right;
    margin-right: 50px;
}
.hidden_txt{
    position: relative;
    z-index: 900;
}
.imageName_div{
    z-index: 999;
    position: relative;
    left: 0px;
    top: -20px;
    display: none;
}
.hidden_url{
    position: relative;
    z-index: 900;
}
.url_div{
    z-index: 999;
    position: relative;
    left: 0px;
    top: -20px;
    display: none;
}
